---
layout: default
title: "Heyday"
---

<!-- Hero -->
<div class="h-[100dvh] w-full relative">
  <div class="absolute top-0 right-0 bottom-0 left-0 -z-10 bg-slate-700 bg-center bg-cover" style="background-image: url('{{ site.url }}/assets/images/heyday-bg.jpg');"></div>
  <div class="flex flex-col h-full justify-between p-5 md:p-10 text-white antialiased">
    <div id="logo">
      <h1 class="text-5xl font-semibold">
        Heyday
      </h1>
    </div>
    <div class="flex flex-col md:flex-row md:justify-between md:items-center">
      <div class="md:w-3/4">
        <p class="inline-block text-3xl xl:text-4xl text-balance mb-8 md:mb-0">
          A new kind of conversational self-care companion—made for people who find life a bit difficult from time to time.
        </p>
      </div>
      <div >
        <a href="https://app.heyday.so" class="inline-block w-full md:w-auto text-center text-xl md:text-lg xl:text-xl px-8 py-4 border border-white rounded-full hover:bg-white hover:text-black">
          Get started
        </a>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- How it works -->
<div class="flex flex-col md:flex-row px-5 py-20 md:px-10 md:py-40 md:gap-10">
  <div class="grid place-items-center p-12 md:p-28 bg-gray-100 md:w-1/2">
    <img src="{{ site.url }}/assets/images/mockup.png" width="476px" alt="">
  </div>
  <div class="flex flex-col md:w-1/2 pt-16 md:pt-28 max-w-xl text-balance">
    <p class="text-4xl font-serif mb-10">Heyday is a space to explore and understand yourself</p>
    <p class="text-xl mb-10 text-gray-700">Explore everyday moments, thoughts, feelings, and whatever's on your mind. Heyday is your companion towards mental well-being.</p>
    <hr class="mb-10">
    <p class="text-xl mb-3">Personal</p>
    <p class="text-lg mb-10 text-gray-500">Heyday provides responses that are intricately customized to align with your unique life circumstances, aspirations, and individual goals.</p>
    <p class="text-xl mb-3">Accessible</p>
    <p class="text-lg mb-10 text-gray-500">Experience immediate support at your fingertips. Heyday is consistently available, ensuring you have timely assistance for every life event that requires thoughtful processing.</p>
    <p class="text-xl mb-3">Private</p>
    <p class="text-lg mb-10 text-gray-500">Your messages are encrypted while stored and sent via secure HTTPS. We can't read your stored data, but unencrypted data is processed by OpenAI via secure connection.</p>
  </div>
</div>

<!-- Why Heyday -->
<div class="px-5 py-20 md:px-10 md:py-40">
  <span class="text-gray-600 md:text-xl mr-10 md:mr-28 align-top">Why Heyday</span>
  <span class="font-serif text-2xl md:text-4xl">
    The global mental health landscape has worsened significantly, exacerbated by the COVID-19 pandemic. Cases of depression have spiked by 28%, while anxiety disorders have seen a roughly 25% uptick, collectively affecting an estimated 620 million people worldwide. Disturbingly, nearly half of those diagnosed with either condition go untreated. Heyday aims to provide timely, accessible, and cost-effective mental health support, before needing expert care.</span>
</div>

<!-- Methods -->
<div class="px-5 md:px-10 pt-20 md:pt-40">
  <h2 class="font-serif text-4xl mb-10">Proven methods</h2>
</div>
<div class="pl-5 md:pl-10 pb-20 md:pb-40 pr-10 flex flex-row flex-nowrap gap-3 w-full overflow-x-scroll no-scrollbar">
  {% for method in site.data.methods %}
    <div class="shrink-0 w-72 h-48 p-6 bg-slate-100 rounded-xl flex flex-col justify-end">
      <span class="text-xl">{{ method.name }}</span>
    </div>
  {% endfor %}
</div>

<!-- Last CTA -->
<div class="w-full overflow-x-clip mt-20 md:mt-40 mb-20 md:mb-32">
  <div class="flex flex-col w-3/4 md:w-72 mx-auto">
    <div id="sphere-container" class="animate-spin aspect-square w-full" style="animation-duration: 60s;">
      <div id="sphere-blurred" class="animate-spin" style="animation-duration: 30s;"></div>
      <div id="sphere-sharp" class="animate-spin" style="animation-duration: 25s;"></div>
    </div>
  </div>
</div>
<div class="flex flex-col px-5 md:px-10 items-center mb-20 md:mb-40">
  <h2 class="w-fit text-2xl md:text-3xl font-serif mb-10 text-center">Start your mental self-care journey with Heyday</h2>
  <a href="https://app.heyday.so" class="text-lg md:text-xl px-8 md:px-10 py-3 md:py-5 border border-black rounded-full hover:bg-white hover:text-black">
    Get started
  </a>
</div>

<!-- Footer -->
{% include footer.html %}