<div class="flex flex-col md:flex-row items-center md:items-start md:justify-between px-5 md:px-10 pt-20 md:pt-40 pb-5 font-light text-sm text-gray-500 gap-5">
  <div class="text-center md:text-left">© Copyright 2023 Nowadays Technologies ApS</div>
  <div class="flex flex-row space-x-5 order-first md:order-none">
    <a href="{{ site.url }}/pricing" class="hover:underline">Pricing</a>
    <!-- <a href="{{ site.url }}/journal" class="hover:underline">Journal</a> -->
    <a href="{{ site.url }}/legal/terms" class="hover:underline">Terms</a>
    <a href="{{ site.url }}/legal/privacy" class="hover:underline">Privacy</a>
  </div>
</div>
