<div class="container mx-auto border-t border-gray-200 flex flex-col md:flex-row items-center md:items-start md:justify-between py-10 text-sm text-gray-500 gap-5">
  <div class="text-center md:text-left">© Copyright 2024 Nowadays ApS</div>
  <div class="flex flex-row space-x-5 order-first md:order-none">
    <a href="{{ site.url }}/pricing" class="hover:underline">Pricing</a>
    <!-- <a href="{{ site.url }}/journal" class="hover:underline">Journal</a> -->
    <a href="{{ site.url }}/legal/terms" class="hover:underline">Terms</a>
    <a href="{{ site.url }}/legal/privacy" class="hover:underline">Privacy</a>
  </div>
</div>
