<div class="fixed inset-x-0 top-0">
  <nav class="container mx-auto px-3 py-3 flex items-center justify-between">
    <div class="text-xl font-semibold">
      <a href="{{ site.url }}" class="hover:text-gray-300">Heyday</a>
    </div>

    <div class="flex items-center px-4 py-2 space-x-4 bg-white rounded-full">
      <a href="{% link _pages/pricing.html %}" class="text-sm font-medium">Pricing</a>
      <a href="https://app.heyday.so/sessions/new" class="text-sm font-medium">Log in</a>
      <a href="https://app.heyday.so/users/new" class="text-sm font-medium">Get started</a>
    </div>
  </nav>
</div>