<div class="">
  <nav class="container mx-auto px-3 py-3 flex items-center justify-between">
    <div class="text-xl font-semibold">
      <a href="{{ site.url }}" class="hover:text-gray-300">Typecheck</a>
    </div>

    <div class="flex items-center -mr-3 px-3 pl-5 py-2 gap-x-1 bg-white rounded-full">
      <a href="{% link _pages/pricing.html %}" class="hidden md:inline-block btn-subtle">Pricing</a>
      <a href="https://app.heyday.so/sessions/new" class="hidden md:inline-block btn-subtle">Log in</a>
      <a href="https://app.heyday.so/users/new" class="ml-3 btn-primary">Get started</a>
    </div>
  </nav>
</div>