<div>
  <nav class="px-5 md:px-10 py-3 flex items-center justify-between">
    <div class="text-2xl font-semibold">
      <a href="{{ site.url }}" class="hover:text-gray-300">Heyday</a>
    </div>

    <div class="flex items-center space-x-4">
      <a href="#" class="hidden md:visible hover:underline">Pricing</a>
      <a href="#" class="hidden md:visible hover:underline">Log in</a>
      <a href="#" class="px-5 py-2 rounded-full border border-black hover:underline">Get started</a>
    </div>
  </nav>
</div>