---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-formatted h1 {
    @apply font-serif text-3xl md:text-4xl text-center mb-10 md:mb-20;
  }

  .text-formatted h2, .text-formatted h3, .text-formatted h4 {
    @apply font-serif text-lg mb-3;
  }

  .text-formatted p {
    @apply mb-3 md:mb-5;
  }

  .text-formatted hr {
    @apply my-3 md:my-5;
  }

  .text-formatted ul {
    @apply list-disc list-inside mb-3 md:mb-5;
  }
}

@layer components {
  .btn-primary {
    @apply inline-block font-medium px-4 py-1.5 rounded-full bg-gradient-to-t from-neutral-900 to-neutral-800 hover:bg-gradient-to-b text-white;
  }

  .btn-subtle {
    @apply inline-block font-medium px-4 py-1.5 rounded-full hover:bg-neutral-200/50;
  }

  .btn-outline {
    @apply inline-block font-medium px-4 py-1.5 rounded-full border border-gray-300 hover:bg-neutral-200/50;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}